@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.container {
  background: #f5f5f5;
  max-width: 635px;
}

.subscribe-component-wrap .heading-wrap {
  text-align: left;
  max-width: 300px;
  min-height: 100px;
  margin-top: 16px;
  margin-right: 30%;
  margin-left: 10%;
}

.subscribe-component-wrap .heading {
  color: #181818;
  font-size: 30px;
  margin: 0;
  line-height: 120%;
}

.subscribe-component-wrap .subscribe-area {
  width: 100%;
  height: 400px;
  margin-top: 70px;
  border-radius: 36px;
  background: rgb(26, 119, 194);
  background: linear-gradient(
    151deg,
    rgba(26, 119, 194, 1) 0%,
    rgba(0, 212, 255, 0.9303944315545244) 100%
  );
  position: relative;
}

.subscribe-component-wrap .header-paragraph-wrap {
  color: #ffffff;
  font-size: 18px;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: 32px;
}

.subscribe-component-wrap .header-paragraph {
  margin-bottom: 0;
  line-height: 130%;
  font-weight: 500;
}

.subscribe-component-wrap .footer-paragraph {
  background-image: url(assets/_brought_to_you_by_nicereply.svg);
  width: 190px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 16px;
  background-size: contain;
}

.subscribe-component-wrap .right-img {
  background-image: url(assets/man_with_laptop_mobile.svg);
  background-repeat: no-repeat;
  width: 290px;
  height: 205px;
  top: -105px;
  right: 0px;
  position: absolute;
  background-size: contain;
}

.subscribe-component-wrap .single-step-form-controls-wrap {
  margin-top: 102px;
  width: 85%;
  padding: 27px 0 22px 0;
}

.subscribe-component-wrap .single-step-form-controls {
  flex-direction: row;
  border-radius: 35px;
  background-color: #fff;
  height: 50px;
  width: 100%;
  max-width: 360px;
  border: 0;
}

.subscribe-component-wrap button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.subscribe-component-wrap .single-step-form-controls-input {
  font-weight: 400;
  height: inherit;
  background-color: transparent;
  flex-grow: 1;
  border-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 0 !important;
  font-size: 13px;
  text-align: left;
}

.subscribe-component-wrap .single-step-form-controls-input::placeholder {
  color: #a1a8af;
}

.subscribe-component-wrap .single-step-form-controls-input:focus::placeholder {
  color: #323a44;
}

.subscribe-component-wrap .single-step-form-controls-input,
.subscribe-component-wrap .single-step-form-controls-submit {
  outline: 0 !important;
}

.subscribe-component-wrap .button-gradient-red {
  background: rgb(255, 150, 149);
  background: linear-gradient(
    138deg,
    rgba(255, 150, 149, 1) 0%,
    rgba(232, 58, 57, 1) 100%
  );
  color: #fff;
}

.subscribe-component-wrap .button-gradient-red:hover {
  background: rgb(255, 201, 201);
  background: linear-gradient(
    119deg,
    rgba(255, 201, 201, 1) 0%,
    rgba(255, 109, 108, 1) 100%
  );
  color: #fff;
}

.subscribe-component-wrap .single-step-form-controls-submit {
  display: none;
  margin: 3px;
}

.subscribe-component-wrap .single-step-form-submit-mobile {
  display: block;
  width: 100%;
  max-width: 365px;
}

.subscribe-component-wrap .single-step-form-submit-mobile-button {
  max-width: 100%;
  height: 50px;
}

.subscribe-component-wrap .button {
  text-transform: uppercase;
  border: 0;
  outline: 0 !important;
  border-radius: 35px;
  padding: 16px 40px;
  font-weight: 600;
  font-size: 13px;
  text-decoration: none;
}

.subscribe-component-wrap button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

.subscribe-component-wrap button,
input {
  overflow: visible;
}

@media (min-width: 768px) {
  .subscribe-component-wrap .heading {
    color: #181818;
    font-size: 24px;
    margin: 0;
  }

  .subscribe-component-wrap .heading-wrap {
    text-align: center;
    min-height: 60px;
    margin-right: 0;
    margin-left: 0;
  }

  .subscribe-component-wrap .mobile-break-line {
    display: none;
  }

  .subscribe-component-wrap .subscribe-area {
    max-width: 600px;
    margin-left: 0px;
    margin-top: 42px;
    border-radius: 85px 0px 85px 85px;
    height: 162px;
  }

  .subscribe-component-wrap .header-paragraph-wrap {
    font-size: 14px;
    /* margin-bottom: 16px; */
    margin-bottom: 0;
    margin-top: 0px;
  }

  .subscribe-component-wrap .left-img {
    background-image: url(assets/woman_with_cookies.svg);
    background-repeat: no-repeat;
    width: 235px;
    height: 243px;
    margin-bottom: -1px;
    left: -18px;
    position: absolute;
    background-size: contain;
    pointer-events: none;
  }

  .subscribe-component-wrap .right-img {
    background-image: url(assets/man_with_laptop.svg);
    width: 233px;
    height: 165px;
    top: -120px;
  }

  .subscribe-component-wrap .single-step-form-controls-wrap {
    margin-top: 0;
    width: 100%;
  }

  .subscribe-component-wrap .single-step-form-controls{
    height: 43px;
    margin-top: 16px;
  }

  .subscribe-component-wrap .single-step-form-controls-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px 0 10px 29px;
    text-align: left;
  }

  .subscribe-component-wrap .single-step-form-controls-submit {
    display: block;
    height: 37px;
    max-height: inherit;
  }

  .subscribe-component-wrap .single-step-form-controls-submit:hover {
    padding: 8px 30px;
  }

  .subscribe-component-wrap .single-step-form-submit-mobile {
    display: none;
  }

  .subscribe-component-wrap .button {
    font-size: 11px;
    line-height: 5px;
  }

  .subscribe-component-wrap .footer-paragraph {
    margin-top: 16px;
    width: 138px;
    height: 15px;
  }
}
