.subscribe-box {
    font-family: Montserrat, sans-serif !important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px
}

.subscribe-box .subscribe-box-heading-wrap {
    align-items: start;
    text-align: left;
    width: 100%;
    min-height: 100px
}

.subscribe-box .subscribe-box-heading {
    color: #181818;
    font-size: 30px;
    line-height: 120%;
    margin: 16px 0 0 34px;
    font-weight: 700
}

.subscribe-box .subscribe-box-subscribe-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin-top: 70px;
    border-radius: 50px 0;
    background: #1a77c2;
    background: linear-gradient(151deg, rgba(26, 119, 194, 1) 0, rgba(0, 212, 255, .9303944315545244) 100%);
    position: relative
}

.subscribe-box .subscribe-box-label-wrap {
    align-self: center;
    color: #fff;
    font-size: 18px;
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 32px
}

.subscribe-box .subscribe-box-label {
    margin-bottom: 0;
    color: #fff;
    line-height: 130%;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    font-size: 18px
}

.subscribe-box .subscribe-box-footer {
    align-self: center;
    background-image: url(assets/brought-to-you-by-nicereply.svg);
    width: 190px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 24px
}

.subscribe-box .subscribe-box-right-img {
    align-self: end;
    background-image: url(assets/man-with-laptop-mobile.svg);
    background-repeat: no-repeat;
    width: 286px;
    height: 204px;
    top: -105px;
    right: 0;
    position: absolute;
    background-size: contain
}

.subscribe-box .subscribe-box-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 134px;
    width: 85%;
    padding: 0 0 30px 0
}

.subscribe-box .subscribe-box-form-controls {
    display: flex;
    align-self: center;
    flex-direction: row;
    border-radius: 35px;
    background-color: #fff;
    height: 50px;
    width: 100%;
    max-width: 360px;
    border: 0
}

.subscribe-box button:not(:disabled),
.subscribe-box [type=button]:not(:disabled),
.subscribe-box [type=reset]:not(:disabled),
.subscribe-box [type=submit]:not(:disabled) {
    cursor: pointer
}

.subscribe-box .subscribe-box-form-controls-input {
    padding: 14px 29px;
    font-weight: 300;
    height: inherit;
    background-color: transparent;
    flex-grow: 1;
    border-radius: 35px;
    border: 0 !important;
    font-size: 13px;
    text-align: left
}

.subscribe-box .subscribe-box-form-controls-input::placeholder {
    color: #a1a8af
}

.subscribe-box .subscribe-box-form-controls-input:focus::placeholder {
    color: #323a44
}

.subscribe-box .subscribe-box-form-controls-input,
.subscribe-box .subscribe-box-form-submit-desktop {
    outline: 0 !important
}

.subscribe-box .button-gradient-red {
    background: #ff9695;
    background: linear-gradient(138deg, rgba(255, 150, 149, 1) 0, rgba(232, 58, 57, 1) 100%);
    color: #fff
}

.subscribe-box .button-gradient-red:hover {
    background: #ffc9c9;
    background: linear-gradient(119deg, rgba(255, 201, 201, 1) 0, rgba(255, 109, 108, 1) 100%);
    color: #fff
}

.subscribe-box .subscribe-box-form-submit-desktop {
    display: none;
    margin: 3px
}

.subscribe-box .subscribe-box-form-submit {
    height: 50px;
    margin-top: 8px;
    align-self: center;
    display: block;
    width: 100%;
    max-width: 365px
}

.subscribe-box .button {
    text-transform: uppercase;
    border: 0;
    outline: 0 !important;
    border-radius: 35px;
    padding: 16px 40px;
    font-weight: 600;
    font-size: 13px;
    text-decoration: none
}

.subscribe-box button, [type=button], [type=reset], [type=submit] {
    -webkit-appearance: button
}

.subscribe-box button, input {
    overflow: visible
}

@media (min-width: 0px) and (max-width: 575px) {
    .subscribe-box .subscribe-box-heading-wrap {
        width: 100vw;
    }

    .subscribe-box .subscribe-box-subscribe-area {
        width: 100vw;
    }
}

@media (min-width: 375px) and (max-width: 575px) {
    .subscribe-box .subscribe-box-subscribe-area {
        margin-top: 93px;
    }

    .subscribe-box .subscribe-box-heading {
        margin-left: 44px;
        margin-right: 44px;
    }

    .subscribe-box .subscribe-box-right-img {
        width: 326px;
        height: 233px;
        right: 15px;
        top: -146px
    }

    .subscribe-box .subscribe-box-form-wrap {
        margin-top: 108px;
        padding: 0 0 22px 0
    }

    .subscribe-box .subscribe-box-label-wrap {
        margin-bottom: 32px
    }

    .subscribe-box .subscribe-box-form-controls {
        height: 60px
    }

    .subscribe-box .subscribe-box-form-controls-input {
        font-size: 15px;
        font-weight: 300;
    }

    .subscribe-box .subscribe-box-form-submit {
        height: 60px;
        font-size: 16px
    }

    .subscribe-box .subscribe-box-footer {
        width: 226px;
        height: 23px;
        margin-top: 33px;
    }
}

@media (min-width: 576px) {
    .subscribe-box .subscribe-box-heading {
        margin: 41px 0 0 37px
    }

    .subscribe-box .subscribe-box-left-img {
        align-self: end;
        background-image: url(assets/woman-with-cookies-tablet.svg);
        background-repeat: no-repeat;
        width: 112px;
        height: 212px;
        margin-bottom: 0;
        left: 0;
        position: absolute;
        background-size: contain;
        pointer-events: none
    }

    .subscribe-box .subscribe-box-right-img {
        background-image: url(assets/man-with-laptop-tablet.svg);
        width: 257px;
        height: 222px;
        top: -158px;
        right: 0
    }

    .subscribe-box .subscribe-box-heading-wrap {
        width: 100vw
    }

    .subscribe-box .subscribe-box-subscribe-area {
        height: 232px;
        margin-top: 38px;
        width: 100vw
    }

    .subscribe-box .subscribe-box-form-wrap {
        padding: 0 0 0 0;
        margin-top: 40px
    }

    .subscribe-box .subscribe-box-label-wrap {
        margin: 0;
    }

    .subscribe-box .subscribe-box-label {
        font-size: 14px;
    }

    .subscribe-box .subscribe-box-form-controls {
        margin-left: 10px;
        height: 43px;
        margin-top: 18px
    }

    .subscribe-box .subscribe-box-form-controls-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 10px 0 10px 29px;
        text-align: left
    }

    .subscribe-box .subscribe-box-form-submit-desktop {
        height: 37px;
        max-height: inherit;
    }

    .subscribe-box .button {
        font-size: 11px;
        line-height: 5px;
    }

    .subscribe-box .subscribe-box-form-submit-desktop:hover {
        padding: 8px 30px
    }

    .subscribe-box .subscribe-box-footer {
        margin-top: 43px;
        width: 138px;
        height: 15px
    }
}

@media (min-width: 768px) {
    .subscribe-box .subscribe-box-heading {
        font-size: 24px;
        margin: 16px 0 0 0
    }

    .subscribe-box .subscribe-box-label-wrap {
        margin-bottom: 0;
        margin-top: 27px
    }

    .subscribe-box .subscribe-box-heading-wrap {
        text-align: center;
        min-height: 60px;
        margin-right: 0;
        margin-left: 0;
        max-width: 300px
    }

    .subscribe-box .subscribe-box-subscribe-area {
        max-width: 600px;
        margin-left: 0;
        margin-top: 42px;
        border-radius: 85px 0 85px 85px;
        height: 162px
    }

    .subscribe-box .subscribe-box-label {
        font-size: 14px;
        margin-bottom: 0;
        margin-top: 0
    }

    .subscribe-box .subscribe-box-left-img {
        background-image: url(assets/woman-with-cookies.svg);
        width: 235px;
        height: 243px;
        margin-bottom: -1px;
        left: -18px;
    }

    .subscribe-box .subscribe-box-right-img {
        background-image: url(assets/man-with-laptop.svg);
        width: 233px;
        height: 165px;
        top: -116px
    }

    .subscribe-box .subscribe-box-form-wrap {
        margin-top: 0;
        padding: 0 0 22px 0;
    }

    .subscribe-box .subscribe-box-form-controls {
        margin-top: 16px
    }

    .subscribe-box .subscribe-box-footer {
        margin-top: 16px;
        height: 15px
    }
}
